@import "tailwindcss";

@source "../../**/*.html";

@theme {
  --color-primary: #8C7A6B;
  --color-secondary: #C4B5A5;
  --color-gray-dark: #1E1E1E;
  --color-gray-light: #F6F4F1;
  --color-gray-line: #E5E0DA;
  --font-sans: 'Manrope', sans-serif;
}
